body {
	background-color: rgb(225, 225, 225);
	color: blue;
	font-family: 'lora', serif;
	font-size: 16px;
 	font-weight: lighter
}

h1, h2, h3 {
	font-family: 'Roboto', sans-serif;
}

h1 {
	color:rgb(0, 0, 128);
	font-size: 36px;
	font-weight: 800;

}
h2 {
	color: rgb(0, 0, 128);
	font-size: 25px;
  	font-weight: 400
}

h2 {
	color: rgb(0, 0, 128);
	font-size: 200/px;	
}
h2 {
	color: rgb(0, 0, 128);
	font-size: 200/px;
}
a {
 	text-decoration: inherit;
 	color: #skyblue;
 	font-weight:
 	font-size: 14px;
}
a:hover {
	color: black;
}

 
.container {
	width:700px;
	margin:40px auto;
}

@media(max-width: 760px) {
	.container {
		width: 600px;
	}
}

@media(max-width: 500px) {
	.container {
		width: 400px;
	}
}

.card-white {
	background-color:white;
	padding: 60px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0,1);
	border-radius: 40px; 
	margin: 50px 0px; 
	text-align: center;
}

.img-circle {
	border-radius: 50%;
}

.btn-blue {
	background-color: blue;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}
.btn-blue: hover {
	background-color: black;
	color: white;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 50px;
	color: rgb(149, 84, 31);
}
.list-inline i:hover {
	color: black;
}

#introduction p {
	margin-bottom: 40px;
}